<div class="container input-card">
  <div class="input-content text-center">
    <form action="/" class="mx-auto" method="POST">
      <div class="row">
        <div class="col-lg-10 px-0">
          <input type="url" name="urlBefore" class="form-control" placeholder="輸入要縮短的網址 http://..." required>
        </div>
        <div class="col-lg px-0">
          <button type="submit" class="btn btn-major">縮址</button>
        </div>
      </div>
    </form>
  </div>
</div>