<div class="container input-card">
  <div class="input-content text-center">
    <h3>網址縮短成功，點擊或複製以下連結</h3>
    <a href="http://qqqqqq" style="text-decoration: none;">http://qqqqqq</a>
    <div class="col-lg px-0 mt-4">
      <button type="" class="btn btn-copy">複製</button>
    </div>
  </div>
</div>