body {
  background-color: rgb(255, 230, 187);
}

h1 {
  margin-bottom: 60px;
  font-size: 44px;
  color: rgb(103, 68, 54);
}

h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(103, 68, 54);
}

.header {
  margin-top: 56px;
  text-align: center;
}

.header .img {
  width: 22%;
  opacity: 75%;
}

.header a {
  text-decoration: none;
}

.header a :hover{
  color: rgb(192, 156, 142);
  transition: color 0.25s linear
}

.input-card {
  margin: 50px auto 20px;
  padding: 9vh 32px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 36px rgba(39, 18, 6, 0.2);
  border-radius: 36px;
}

.input-content {
  width: 80%;
  margin: 0 auto;
}

.btn-major {
  width: 80px;
  color: cornsilk;
  background-color: chocolate;
}

.btn-major:hover {
  color: cornsilk;
  background-color: rgb(218, 156, 112);
  transition: background-color 0.25s linear
}

.btn-copy {
  width: 80px;
  color: cornsilk;
  background-color: rgb(30, 165, 186);
}

.btn-copy:hover {
  color: cornsilk;
  background-color: rgb(94, 210, 227);
  transition: background-color 0.25s linear
}

@media screen and (max-width: 992px) {
  .btn-major {
    margin-top: 24px;
  }
}

@media screen and (max-width: 576px) {
  .input-card {
    width: 90%;
  }
}